<p><a href="{{ urlForTalk(event.getUrlFriendlyName, talk.getUrlFriendlyTalkTitle) }}">{{ talk.title }}</a></p>
<p>{% for speaker in talk.speakers %}
        <span class="speaker">
            <a href="{{ speaker.speaker_uri }}">{{ speaker.speaker_name }}</a>
        </span>
        {% if not loop.last %}
            {{ speaker.speaker_name }}</a>,
        {% endif %}
    {% endfor %}
</p>
